<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="../AJAX.js"></script>

    <title>Goal List</title>
</head>
<body>
    <h1>Goals belonging to <i><%= name %></i></h1>

    <h2>New Goal</h2>
    <form action="create_goal" method="POST" class="centre"
            onsubmit="return validateCreateGoal()" onreset="reseterrors()">
        Goal name:
        <input type="text" id="name"><br>
    
        Frequency:
        <select id="frequency">
            <%- freq_type %>
        </select><br/>

        Type:
        <select id="entry">
            <%- entry_type %>
        </select><br/>

        <input type="button" onClick=createGoal() value="Create">
    </form>

    <h2>Goals</h2>
    <div id = "entries"><%- entries %></div>

    

</body>
</html>